# Default configuration file. It contains default binds and convars to reset the game settings
cl_nullmovement 1
cl_vsync 0
cl_mousesensx 0.003
cl_mousesensy 0.0045
cl_windowmode 1
fov_desired 90
fps_max 144

bind a "+left"
bind d "+right"
bind w "+forward"
bind s "+back"
bind ctrl "+crouch"
bind space "+jump"
bind quoteleft toggle_console
echo "applied defaults"
